.home-section {
    background-color: #3f1477;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    background: linear-gradient(135deg, #3f1477 0% , #3f1477 100%);
    color: rgba(0, 0, 0, 0.932);
    padding: 0 20px; 
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    animation: fadeIn 1s ease forwards;
    opacity: 0;
}

.home-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.home-section p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto 30px;
    line-height: 1.6;
}

.home-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.cv-button {
  background-color: #9b59b6; /* purple/mauve */
}

.connect-button {
  display: inline-block;
  text-decoration: none;
  background-color: #3b82f6;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s ease;
}


.connect-button:hover {
    background-color: #2563eb;
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0,0,0,0.25);
}

.connect-button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}













